header {
  width: 100%;
  height: 100px;
  border: 2px solid $color1;
}

div.site-content {
  width: 100%;
  height: 100%;
}

ul.topNav {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

li.topNav {
  display: inline-block;
  border: 2px solid $color4;
  div.browse {
    height: 100%;
    width: 50px;
    background-color: $color2;
  }
  div.fav {
    height: 100%;
    width: 50px;
    background-color: $color2;
  }
  div.login {
    height: 100%;
    width: 50px;
    background-color: $color2;
  }
}

section {
  width: 100%;
  height: 768px;
  border: 2px solid $color5;
}

footer {
  width: 100%;
  height: 300px;
  border: 2px solid $color1;
}

ul.footer {
  display: inline-block;
}
