div.bodyContent {
  margin: 0 0 18px 0;
  padding: 0;
}

section {
  width: 100%;
  min-height: 478px;
  // border: 2px solid rgba(250, 250, 250, .0);
}

button[name="home"] {
  width: 50px;
}

.heroImg {
  // background-image: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.4)), url("./images/mainPhoto.jpg");
  background-image: url('./images/mainPhoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  h1 {
    margin-bottom: 5px;
    padding-top: 250px;
    padding-left: 20px;
    color: #fff;
    font-size: 36px;
    margin-top: 18px;
    text-shadow: 2px 2px 20px #000;
  }
  h4 {
    margin: 0;
    padding-left: 20px;
    color: #fff;
    text-shadow: 2px 2px 20px #000;
  }
}

div.navLinksWrapper {
  width: 100%;
  text-align: center;;
  ul {
    display: flex;
  }
  .navLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    top: 50px;
    position: relative;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 20px #000;
  }
  .users, .addRecipes, .getRecipes{
    width: 33.3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-top: 20px;
    display: inline-block;
  }
  .users {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)), url("./images/users.jpg");
    // background-image: lin  url('./images/users.jpg');
    margin-right: 18px;
    &:hover {
      background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url("./images/users.jpg");
      cursor: pointer;
    }
  }
  .addRecipes {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)), url("./images/addRecipes.jpg");
    margin-right: 18px;
    &:hover {
      background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url("./images/addRecipes.jpg");
      cursor: pointer;
    }
  }
  .getRecipes {
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(50, 50, 50, 0)), url("./images/addRecipes.jpg");
    &:hover {
      background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url("./images/addRecipes.jpg");
      cursor: pointer;
    }
  }
}

// USERS PAGE //
section.dashboard {
    text-align: center;
}
