.homeButton {
  width: 100px;
  height: 35px;
  background-color: #9D0714;
  border: none;
  border-radius: 3px;
  position: relative;
  top: 18px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 10px #000;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

div.profileContent {
  width: 100%;
  min-height: 478px;
  // display: inline-block;
  margin: 0 auto;
  padding: 0;
  vertical-align: top;
  div.userCard {
    margin-bottom: -50px;
    h1 {
      margin: 0;
      text-align: center;
    }
  }
}
div.recipeForm {
  width: 100%;
  min-height: 478px;
  // display: inline-block;
  margin: 0 auto;
  padding: 0;
  vertical-align: top;
}
form.newRecipe {
  width: 70%;
  margin: 50px auto;
  input[type="text"], textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="submit"] {
    width: 100px;
    height: 35px;
    background-color: #9D0714;
    border: none;
    border-radius: 3px;
    position: relative;
    top: 18px;
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 10px #000;
  }
  input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 18px 0;
    }
  }
  label {
    display: block;
    font-size: 20px;
  }
  input[type="text"] {
    width: 100%;
    font-size: 18px;
  }
  input[type="text"]:focus {
    outline: none;
  }
  textarea {
    width: 100%;
    font-size: 18px;
  }
  textarea:focus {
    outline: none;
  }
}
article.recipeCard {
  width: 90%;
  padding: 4%;
  margin: 2% auto;
  overflow: auto;
  div.description {
    max-height: 150px;
    max-width: 42%;
    overflow: auto;
    padding:2%;
    h6 {
      margin: 0;
    }
  }
  div.cardLeft {
    display: inline-block;
    width: 49.7%;
    vertical-align: top;
  }
  div.cardRight {
    display: inline-block;
    width: 45.7%;
    vertical-align: top;
  }
  div.ingredients {
    max-height: 150px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding:2%;
    overflow: auto;
  }
  div.directions {
    max-height: 300px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding:2%;
    overflow: auto;
  }
  div.times {
    padding:2%;
    div.prep {
      max-height: 150px;
      overflow: auto;
    }
    div.cook {
      max-height: 150px;
      overflow: auto;
    }
  }
}
