header {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #9D0714;
  // background: -webkit-linear-gradient(rgba(214,20,49,1), rgba(214,20,49,.9)); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(rgba(214,20,49,1), rgba(214,20,49,.9)); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(rgba(214,20,49,1), rgba(214,20,49,.9)); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(rgba(214,20,49,1), rgba(214,20,49,.9)); /* Standard syntax */
&:after {
  clear: both;
}
  .headerContainer {
    margin: 0 auto;
    width: 100%;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-size: 58px;
    position: relative;
    top: 12px;
    color: #fff;
    font-family: serif;
    text-shadow: 2px 2px 10px #000;
  }
  h1:hover {
    cursor: pointer;
  }
  h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 10px #000;
  }
  .loginHeader {
    text-align: left;
  }
  .signUpHeader {
    text-align: right;
    float: right;
    top: 98px;
    position: absolute;
    right: 10px;
    transition: .1s all ease-in-out;
  }
  .signUpHeader:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .leftNav {
    display: inline-block;
    padding: 0px 0px 10px 10px;
  }
  .rightNav {
    // display: inline-block;
    // padding: 0px 10px 10px 0px;
    // float: right;
    display: none;
    padding: 0px 10px 10px 0px;
    /* float: right; */
    position: absolute;
    top: 72px;
    // background-color: #9D0714;
    padding: 20px;
    right: -10px;
  }
  // .signUpWrapper {
  //   position: relative;
  //   bottom: -35px;
  //   background-color: red;
  //   display: none;
  // }
  input[type="submit"] {
    line-height: 16px;
    font-size: 13px;
    border: none;
    border-radius: 26px;
    color: rgba(214,20,49,.7);
    font-weight: normal;
    background-color: #fff;
    transition: .1s all ease-in-out;
  }
  input[type="submit"]:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: rgba(214,20,49,1);
    font-weight: bold;
    // box-shadow: 0px 0px 8px #fff;
  }
  input[type="text"] {
    line-height: 20px;
    font-size: 12px;
    border: none;
    border-radius: 26px;
    text-align: left;
    color: rgba(214,20,49,1);
    font-weight: bold;
    margin-right: 5px;
    padding-left: 10px;
  }
  input[type="password"] {
    line-height: 20px;
    font-size: 12px;
    border: none;
    border-radius: 26px;
    text-align: left;
    color: rgba(214,20,49,1);
    font-weight: bold;
    margin-right: 5px;
    padding-left: 10px;
  }
  ::-webkit-input-placeholder {
   color: rgba(214,20,49,.4);
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(214,20,49,.4);
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(214,20,49,.4);
   text-align: center;
}
:-ms-input-placeholder {
   color: rgba(214,20,49,.4);
   text-align: center;
}
  button {
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    color: #D61431;
    font-weight: bold;
    }
}
