/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url("./images/128-168.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 149%;
  background-position-x: -150px;
  background-position-y: -200px;
  background-attachment: fixed; }

div.mainContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.8); }

div.site-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

i {
  display: inline-block; }

p {
  margin: 0;
  padding: 0; }

div.bodyContent {
  margin: 0 0 18px 0;
  padding: 0; }

section {
  width: 100%;
  min-height: 478px; }

button[name="home"] {
  width: 50px; }

.heroImg {
  background-image: url("./images/mainPhoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; }
  .heroImg h1 {
    margin-bottom: 5px;
    padding-top: 250px;
    padding-left: 20px;
    color: #fff;
    font-size: 36px;
    margin-top: 18px;
    text-shadow: 2px 2px 20px #000; }
  .heroImg h4 {
    margin: 0;
    padding-left: 20px;
    color: #fff;
    text-shadow: 2px 2px 20px #000; }

div.navLinksWrapper {
  width: 100%;
  text-align: center; }
  div.navLinksWrapper .navLinks {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  div.navLinksWrapper li {
    display: inline-block;
    top: 50px;
    position: relative; }
  div.navLinksWrapper a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 20px #000; }
  div.navLinksWrapper .users, div.navLinksWrapper .addRecipes, div.navLinksWrapper .getRecipes {
    width: 31.6%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-top: 20px;
    display: inline-block; }
  div.navLinksWrapper .users:hover, div.navLinksWrapper .addRecipes:hover, div.navLinksWrapper .getRecipes:hover {
    cursor: pointer;
    opacity: .7; }
  div.navLinksWrapper .users {
    background-image: url("./images/users.jpg");
    margin-right: 18px; }
  div.navLinksWrapper .addRecipes {
    background-image: url("./images/addRecipes.jpg");
    margin-right: 18px; }
  div.navLinksWrapper .getRecipes {
    background-image: url("./images/getRecipe.jpeg"); }

section.dashboard {
  text-align: center; }

header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #9D0714; }
  header .headerContainer {
    margin: 0 auto;
    width: 100%; }
  header h1 {
    margin: 0;
    text-align: center;
    font-size: 58px;
    position: relative;
    top: 12px;
    color: #fff;
    font-family: serif;
    text-shadow: 2px 2px 10px #000; }
  header h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 10px #000; }
  header .loginHeader {
    text-align: left; }
  header .signUpHeader {
    text-align: right; }
  header .leftNav {
    display: inline-block;
    padding: 0px 0px 10px 10px; }
  header .rightNav {
    display: inline-block;
    padding: 0px 10px 10px 0px;
    float: right; }
  header input[type="submit"] {
    line-height: 16px;
    font-size: 13px;
    border: none;
    border-radius: 26px;
    color: rgba(214, 20, 49, 0.7);
    font-weight: normal;
    background-color: #fff;
    transition: .1s all ease-in-out; }
  header input[type="submit"]:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #d61431;
    font-weight: bold; }
  header input[type="text"] {
    line-height: 20px;
    font-size: 12px;
    border: none;
    border-radius: 26px;
    text-align: left;
    color: #d61431;
    font-weight: bold;
    margin-right: 5px;
    padding-left: 10px; }
  header ::-webkit-input-placeholder {
    color: rgba(214, 20, 49, 0.4);
    text-align: center; }
  header :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(214, 20, 49, 0.4);
    text-align: center; }
  header ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(214, 20, 49, 0.4);
    text-align: center; }
  header :-ms-input-placeholder {
    color: rgba(214, 20, 49, 0.4);
    text-align: center; }
  header button {
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    color: #D61431;
    font-weight: bold; }

.homeButton {
  width: 100px;
  height: 35px;
  background-color: #9D0714;
  border: none;
  border-radius: 3px;
  position: relative;
  top: 18px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 10px #000; }
  .homeButton:hover {
    cursor: pointer;
    transform: scale(1.1); }

div.profileContent {
  width: 100%;
  min-height: 478px;
  margin: 0 auto;
  padding: 0;
  vertical-align: top; }
  div.profileContent div.userCard {
    margin-bottom: -50px; }
    div.profileContent div.userCard h1 {
      margin: 0;
      text-align: center; }

div.recipeForm {
  width: 100%;
  min-height: 478px;
  margin: 0 auto;
  padding: 0;
  vertical-align: top; }

form.newRecipe {
  width: 70%;
  margin: 50px auto; }
  form.newRecipe input[type="text"], form.newRecipe textarea {
    border-radius: 5px;
    border: 1px solid #ccc; }
  form.newRecipe input[type="submit"] {
    width: 100px;
    height: 35px;
    background-color: #9D0714;
    border: none;
    border-radius: 3px;
    position: relative;
    top: 18px;
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 10px #000; }
  form.newRecipe input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1); }
  form.newRecipe ul {
    list-style-type: none;
    padding: 0; }
    form.newRecipe ul li {
      margin: 18px 0; }
  form.newRecipe label {
    display: block;
    font-size: 20px; }
  form.newRecipe input[type="text"] {
    width: 100%;
    font-size: 18px; }
  form.newRecipe input[type="text"]:focus {
    outline: none; }
  form.newRecipe textarea {
    width: 100%;
    font-size: 18px; }
  form.newRecipe textarea:focus {
    outline: none; }

article.recipeCard {
  width: 90%;
  padding: 4%;
  margin: 2% auto;
  overflow: auto; }
  article.recipeCard div.description {
    max-height: 150px;
    max-width: 42%;
    overflow: auto;
    padding: 2%; }
    article.recipeCard div.description h6 {
      margin: 0; }
  article.recipeCard div.cardLeft {
    display: inline-block;
    width: 49.7%;
    vertical-align: top; }
  article.recipeCard div.cardRight {
    display: inline-block;
    width: 45.7%;
    vertical-align: top; }
  article.recipeCard div.ingredients {
    max-height: 150px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 2%;
    overflow: auto; }
  article.recipeCard div.directions {
    max-height: 300px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 2%;
    overflow: auto; }
  article.recipeCard div.times {
    padding: 2%; }
    article.recipeCard div.times div.prep {
      max-height: 150px;
      overflow: auto; }
    article.recipeCard div.times div.cook {
      max-height: 150px;
      overflow: auto; }

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: #9D0714;
  color: #fff; }

ul.footer {
  display: inline-block;
  list-style-type: none; }
